RewriteEngine On
RewriteBase /mgsr/

# Exclude assets from rewrite rule
RewriteCond %{REQUEST_URI} !\.(css|js|svg|jpg|jpeg|png|gif|woff2|ico|ttf)$ [NC]

# Redirect all requests to index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /mgsr/public/index.html [L]

# Exclude the public and app directories from the rewrite rule
RewriteCond %{REQUEST_URI} !^/mgsr/public/
RewriteCond %{REQUEST_URI} !^/mgsr/app/
RewriteRule ^(.*)$ /mgsr/public/$1 [L]
